#filter-tabs {
  border-bottom: 2px solid var(--color-gray);
}

.rental-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 1rem;
}

.timeline {
  position: relative;
  padding-left: 2rem;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--color-gray-hover);
}

.timeline-item {
  position: relative;
  margin-bottom: 1.5rem;
}

.timeline-marker {
  position: absolute;
  left: -1.7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid var(--color-orange);
  background-color: var(--color-black);
}

.timeline-marker.completed {
  background-color: var(--color-orange);
}
