body {
  margin: 0;
}
.container {
  display: flex;
  margin: 0;
  background-color: rgb(226, 229, 237);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 30px;
  gap: 20px;
}

.container .left-listings {
  flex: 1;
  max-width: 200px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.container .main-content {
  flex: 2;
  max-width: auto;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.main-content {
  text-align: center;
}

.searchbar {
  display: flex;
  background-color: #291ec2;
  padding: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #ffffff;
  padding: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  margin: 20px;
  color: rgb(12, 12, 12);
  text-decoration: none;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
  flex: 1;
  text-align: left;
}

.searchbar input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 300px;
}

.spacer {
  flex: 1;
}
